*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    font-family: 'Kanit', sans-serif;
}
i{
    pointer-events:none;
}
.container{
    margin:10% 0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
}
.header{
    font-size:4rem;
    text-shadow: 0 0 10px rgba(184, 165, 255, 0.4);
}
.form-container{
    display:flex;
    min-height:15vh;
    max-width:460px;
}
/* input && selection part*/
.todo-wrapper
,.todo-another{
    display:flex;
    justify-content:center;
    align-items:center;
}
.text,
.btn,
.text-another,
.btn-another{
    height:2.5rem;
    background:white;
    border:none;
    outline:none;
    padding:5px 10px;
    font-size:1.5rem;
}
.btn i, .btn-another i{
    color:rgb(255, 255, 255);
}
/* responsive column layout */
@media only screen and (max-width:480px){
    form{
        display:flex;
        flex-direction:column;
        justify-content:left;
        }
    .todo-wrapper{
        padding-bottom:20px;
    }
}
/*border-shape*/
.text,.text-another{
    border-radius:5px 0 0 5px;
}
.btn, .btn-another{
    font-size:2.1rem;
    display:flex;
    align-items:center;
    background:rgb(105, 94, 155);
    cursor:pointer;
    border-radius:0 5px 5px 0;
}
/*left-text input width */
.text{
    width:80%;
}
/* second todo*/
.text-another{
    font-family: 'Kanit', sans-serif;
    font-size:1rem;
}

.btn:hover{
    background:rgb(17, 93, 235);
}

/*selection part*/
.text-another{
    margin-left:20px;
    width:120px;
}

/*list section*/
.todo-container{
    max-width:480px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.list-container{
    list-style:none;
    display:flex;
    flex-direction:column;
    text-align:center;
}

.list-text,.list-item button{
    height:2.5rem;
    background:white;
    border:none;
    outline:none;
    padding:5px 10px;
    font-size:1.5rem;
}
.list-item{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:4px auto;
    transition: all 0.7s ease-in-out;
}
/*list & button shape*/
.list-text{
    min-width:93.5%;
    border-radius:5px 0 0 5px;
}
.list-btn2{
    border-radius:0 5px 5px 0;
}
/*responsive*/
@media only screen and (max-width:480px){
    .list-text{
        width:22vh;
    }
}
/*list-button effects*/
.list-item button{
    cursor:pointer;
    transition:all 0.2s ease;
}
.list-item button:hover{
    transition:all 0.2s ease;
    color:#302b63
}
.list-btn1{
    color:rgb(211, 144, 0);
}
.list-btn2{
    color:rgb(168, 17, 17);
}
/*list-text toggle overwrite*/
.list-done{
    opacity:0.5;
    text-decoration:line-through;
    text-decoration-color:black;
}
.fall{
    transition: all 1s ease-in-out;
    /* transform: translateY(8rem) rotate(30deg); */
    transform: scale(0.2);
    opacity:0;
}
